# macOS
.DS_Store

# Xcode build
build/
DerivedData/

# Xcode
*.xcworkspace
!default.xcworkspace

# Ignore all user-specific Xcode data
**/xcuserdata/
**/*.xcuserstate

# SwiftPM
.swiftpm/
.packages/
Package.resolved